html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Inter, sans-serif;
  color: #111;
}

.container {
  max-width: 800px;
  margin: 6rem auto;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
  padding-left: 0;
  margin: 0.5rem 0;
}
li svg {
  vertical-align: middle;
  margin-right: 0.5rem;
}